# <a id='top'></a>
# Challenge Set 7
Topic:        SQL challenges  
Date:         08/1/2016  
Name:         Whitney Chia  
Worked with:  Alllll by myyyyyself

[Question 0](#question0)   
[Question 1](#question1)   
[Question 2](#question2)   
[Question 3](#question3)   
[Question 4](#question4)   
[Question 5](#question5)   
[Question 6](#question6)   
[Question 7](#question7)   
[Question 8](#question8)   
[Question 9](#question9)

<a id='question0'></a>
# Question 0   
[Top](#top)

```
SELECT CustomerName FROM Customers WHERE Country = 'Sweden';
```

The answer is:   
**Berglunds snabbköp   
Folk och fä HB**

<a id='question1'></a>
# Question 1   
[Top](#top)

```
SELECT CustomerName FROM Customers WHERE Country = 'UK';
```

The answer is:   
**Around the Horn   
B's Beverages   
Consolidated Holdings   
Eastern Connection   
Island Trading   
North/South   
Seven Seas Imports**

<a id='question2'></a>
# Question 2   
[Top](#top)

```
SELECT CustomerID, max(count)    
    FROM(SELECT CustomerID, COUNT(*) as count    
        FROM ORDERS GROUP BY CustomerID);   
```

This just gets us the CustomerID and the count of orders that CustomerID has. The result of it was a CustomerID of 20, who had a count of 10 orders. Finding the customerID of 20, helps us query another table to get the CustomerName of this customer.

```
SELECT CustomerName FROM Customers WHERE CustomerID = 20;
```

The answer is: **Ernst Handel**

<a id='question3'></a>
# Question 3  
[Top](#top)

```
SELECT SupplierID, max(pc_avg)   
    FROM(SELECT SupplierID, AVG(Price) as pc_avg 
        FROM Products GROUP BY SupplierID);
```

This just gets us the SupplierID and the average pricing that SupplierID has. The result of it was a SupplierID of 18, who had an average of 140.75. Finding the supplierID of 18, helps us query another table to get the SupplierName of this customer.

```
SELECT SupplierName FROM Suppliers WHERE SupplierID = 18;
```

The answer is : **Aux joyeux ecclésiastiques**

<a id='question4'></a>
# Question 4  
[Top](#top)

```
SELECT Count(DISTINCT(Country)) FROM Customers;
```

The answer is: **21**

<a id='question5'></a>
# Question 5  
[Top](#top)

```
SELECT CategoryID, COUNT(*) as count 
    FROM OrderDetails
        JOIN Products ON OrderDetails.ProductID = Products.ProductID
                GROUP BY OrderDetails.ProductID ORDER BY count DESC LIMIT 1;
```

This just gets us the CategoryID and the count of that CategoryID in terms of orders. The result of it was a CategoryID of 4, which had a count of 14. Finding the CategoryID of 4, helps us query another table to get the CategoryName of this category.

```
SELECT CategoryName FROM Categories WHERE CategoryID = 4;
```

The answer is: **Dairy Products**

<a id='question6'></a>
# Question 6  
[Top](#top)

```
SELECT OrderID, sum(Quantity * Price) FROM OrderDetails
        JOIN Products ON OrderDetails.ProductID = Products.ProductID GROUP BY OrderID;
```

I'll only provide the first few results since this question has a long answer.  
The first 4 answers is:  
**OrderID sum(Quantity * Price)  
10248	    566  
10249	    2329.25  
10250	    2267.25  
10251	    839.5  
**

<a id='question7'></a>
# Question 7  
[Top](#top)

```
SELECT FirstName, LastName, SUM(orderdetails.Quantity * products.Price) as Sales FROM Employees
    JOIN Orders JOIN OrderDetails JOIN Products
    ON employees.EmployeeID = orders.EmployeeID
    AND orders.OrderID = orderdetails.OrderID
    AND orderdetails.ProductID = products.ProductID
        GROUP BY employees.EmployeeID
        ORDER BY Sales DESC LIMIT 1;
```

The answer is:   
**Margaret	Peacock**

# <a id='question8'></a>
# Question 8  
[Top](#top)

```
SELECT * FROM Employees WHERE Notes LIKE '%BS%'
```

The answers are:   
**Janet	Leverling and Steven Buchanan**

# <a id='question9'></a>
# Question 9  
[Top](#top)

```
SELECT SupplierName, COUNT(*) as product_count, AVG(products.Price) FROM Suppliers
    JOIN Products 
    ON suppliers.SupplierID = products.SupplierID
    GROUP BY suppliers.SupplierID HAVING 3 <= product_count
    ORDER BY AVG(products.Price) DESC LIMIT 1;
```

The answer is:   
**Tokyo Traders**