In [11]:
import numpy as np
import pandas as pd

In [7]:
names = pd.read_csv('names.csv')

In [8]:
del names['Unnamed: 0']

In [9]:
names = names.sample(frac=1)
names.head()

      gender     names
50213      M    curits
3334       F   isolene
15987      M  demarius
39643      F   katryna
2480       M     robbi

In [12]:
X, y = np.array(names)[:,0] , np.array(names)[:,1]