# SQL Challenges
Challenge Set 7<br/>
Allison and Graham<br/>
Aug 1, 2016
***

### Challenge 0 - Practice Example

What customers are from Sweden?

In [ ]:
SELECT * FROM Customers WHERE Country='Sweden';

### Challenge 1 :What customers are from the UK?

In [ ]:
SELECT * FROM Customers WHERE Country='UK';

### Challenge 2

What is the name of the customer who has the most orders?

In [ ]:
SELECT count(*) as Order_Count , o.CustomerID, c.CustomerName 
FROM Orders o, Customers c
WHERE c.CustomerID = o.CustomerID
GROUP BY c.CustomerID 
ORDER BY -Count(*) LIMIT 1

### Challenge 3
What supplier has the highest average product price?

In [ ]:
SELECT s.SupplierName, Avg(p.Price) as AVG_Price
FROM SUPPLIERS s, Products p 
WHERE s.SupplierID = p.SupplierID 
GROUP BY s.SupplierName 
ORDER BY -Avg_Price LIMIT 1

### Challenge  4
How many different countries are their customers from? (Hint: Consider DISTINCT.)

In [ ]:
SELECT COUNT (DISTINCT(Country))
FROM Customers

### Challenge 5
What category appears the most in order details?

In [ ]:
SELECT c.CategoryName , SUM(p.ProductID) AS Count 
FROM Products p
LEFT JOIN OrderDetails od
ON p.ProductID = od.ProductID
LEFT JOIN Categories c
ON p.CategoryID = c.CategoryID
GROUP BY p.CategoryID
ORDER BY -Count;

### Challenge 6
What was the total cost for each order?

In [ ]:
SELECT o.OrderID, SUM(od.Quantity*p.Price) as Total_Cost 
FROM OrderDetails od, Orders o, Products p 
WHERE od.ProductID = p.ProductID  and o.OrderID = od.OrderID  
GROUP BY o.OrderID

### Challenge 7
What employee made the most sales (by total cost)?

In [ ]:
SELECT e.EmployeeID, e.LastName, e.FirstName, SUM(od.Quantity*p.Price) as Order_Total 
FROM Orders o, OrderDetails od, Products p, Employees e 
WHERE o.OrderID = od.OrderID and e.EmployeeID = o.EmployeeID  and od.ProductID = p.ProductID 
GROUP BY e.EmployeeID 
ORDER BY -Order_Total 
LIMIT 1

### Challenge 8
What employees have BS degrees? (Hint: Look at the LIKE operator.)

In [ ]:
SELECT LastName, FirstName, Notes 
FROM Employees
WHERE Notes LIKE '%BS%'

### Challenge 9
What supplier of three or more products has the highest average product price? (Hint: Look at the HAVING operator.)

In [ ]:
SELECT s.SupplierName, AVG(p.Price) as AVG_Price
FROM Suppliers s, Products p
WHERE s.SupplierID = p.SupplierID
GROUP BY p.SupplierID HAVING COUNT(*) >= 3
ORDER BY -AVG_Price LIMIT 1