In [1]:
import pickle
import pandas as pd
from sqlalchemy import create_engine
cnx = create_engine('postgresql://politics@54.209.198.31:5432/politics')

In [2]:
df = pickle.load(open('df_big_table_save_pre_neighborhhod_racial_composition.p', 'rb'))

In [ ]:
#df['sources']=df['sources'].to_json()

### Not importing JSON string yet from 'sources' columns

In [3]:
test = df[['id', 'name', 'date', 'manner_of_death', 'armed', 'age',
           'gender', 'race', 'city', 'state', 'signs_of_mental_illness',
           'flee', 'body_camera', 'is_geocoding_exact','is_officer_charged', 
           'lat', 'lon', 
           'Zip', 'Median','Mean', 'Pop','TotalWages', 'EstimatedPopulation', 
           'police_force_size','all', 'white', 'non-white', 'black', 'hispanic', 'asian'
          ]]
test.to_sql("police_shootings_test", flavor='postgresql', con=cnx, if_exists="replace")
print(cnx.table_names())

['county-kaggleprimary-2016', 'congress_20002015_congressroster_govtrack', 'fake_df', 'state_2007_110term_demo_acs', 'state_2008_110term_demo_acs', 'state_2009_111term_demo_acs', 'state_2010_111term_demo_acs', 'state_2011_112term_demo_acs', 'state_2012_113term_demo_acs', 'state_2013_113term_demo_acs', 'state_2014_114term_demo_acs', 'police_shootings_test']

In [4]:
pd.read_sql_query('''SELECT * FROM "police_shootings_test" LIMIT 5''',cnx)

,index,id,name,date,manner_of_death,armed,age,gender,race,city,...,Pop,TotalWages,EstimatedPopulation,police_force_size,all,white,non-white,black,hispanic,asian
0,0,424,Erick Emmanuel Sanchez,2015-04-30,shot and Tasered,metal object,22,M,H,el paso,...,"11,328",91447915,12682,2260,0.85177,0.826446,0.861027,**,0.86102719,**
1,1,424,Erick Emmanuel Sanchez,2015-04-30,shot and Tasered,metal object,22,M,H,el paso,...,"21,236",270117955,16056,2260,0.85177,0.826446,0.861027,**,0.86102719,**
2,2,424,Erick Emmanuel Sanchez,2015-04-30,shot and Tasered,metal object,22,M,H,el paso,...,"18,451",163746053,14072,2260,0.85177,0.826446,0.861027,**,0.86102719,**
3,3,424,Erick Emmanuel Sanchez,2015-04-30,shot and Tasered,metal object,22,M,H,el paso,...,"35,060",299539712,24327,2260,0.85177,0.826446,0.861027,**,0.86102719,**
4,4,424,Erick Emmanuel Sanchez,2015-04-30,shot and Tasered,metal object,22,M,H,el paso,...,"26,036",171092470,18528,2260,0.85177,0.826446,0.861027,**,0.86102719,**

In [5]:
sources = df['sources'].copy()

### Testing for Dictionary/JSON field into Postgres--Currently Fails

In [6]:
sources.to_sql("json_dict_test", flavor='postgresql', con=cnx, if_exists="replace")
print(cnx.table_names())

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'dict' [SQL: 'INSERT INTO json_dict_test (index, sources) VALUES (%(index)s, %(sources)s)'] [parameters: ({'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 0}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 1}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 2}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 3}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 4}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 5}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 6}, {'sources': [{'source_name': 'El Paso Times.com', 'title': 'El Paso police officer shot and killed burglary suspect Wednesday night', 'url': 'http://www.elpasotimes.com/news/ci_28023272/el-paso-police-officer-shot-and-killed-burglary', 'type': 'NEWS'}, {'source_name': 'KVIA', 'title': 'Update: Man shot by officer after burglary has died', 'url': 'http://www.kvia.com/news/officer-shoots-burglary-suspect/32655866', 'type': 'NEWS'}], 'index': 7}  ... displaying 10 of 5865 total bound parameter sets ...  {'sources': [{'source_name': 'KNXV', 'title': 'PD: Man shot by officers after stabbing himself', 'url': 'http://www.abc15.com/news/region-phoenix-metro/north-phoenix/pd-officer-involved-in-n-phoenix-shooting', 'type': 'NEWS'}, {'source_name': 'KNXV', 'title': 'Police identify Ken Cockerel as man who stabbed himself then threatened officers with knives', 'url': 'http://www.abc15.com/news/region-phoenix-metro/north-phoenix/police-identify-ken-cockerel-as-man-who-stabbed-himself-then-threatened-officers-with-knives', 'type': 'NEWS'}], 'index': 5863}, {'sources': [{'source_name': 'KNXV', 'title': 'PD: Man shot by officers after stabbing himself', 'url': 'http://www.abc15.com/news/region-phoenix-metro/north-phoenix/pd-officer-involved-in-n-phoenix-shooting', 'type': 'NEWS'}, {'source_name': 'KNXV', 'title': 'Police identify Ken Cockerel as man who stabbed himself then threatened officers with knives', 'url': 'http://www.abc15.com/news/region-phoenix-metro/north-phoenix/police-identify-ken-cockerel-as-man-who-stabbed-himself-then-threatened-officers-with-knives', 'type': 'NEWS'}], 'index': 5864})]