Challenge Set 1  
Topic:        Explore MTA turnstile data  
Date:         07/11/2016  
Name:         Brian  
Worked with:  n/a

# Challenge 1

In [10]:
import pandas as pd
import csv
import ggplot
df = pd.read_csv('/home/brianc/Documents/2016_06_Week4_Turnstyle_Data')
df.head(n=30)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,00:00:00,REGULAR,5704958,1934814
1,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,04:00:00,REGULAR,5704958,1934829
2,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,08:00:00,REGULAR,5704958,1934886
3,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,12:00:00,REGULAR,5704958,1934993
4,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,16:00:00,REGULAR,5704958,1935069
5,A002,R051,02-00-00,59 ST,NQR456,BMT,06/18/2016,20:00:00,REGULAR,5704958,1935132
6,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,00:00:00,REGULAR,5704958,1935168
7,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,04:00:00,REGULAR,5704958,1935172
8,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,08:00:00,REGULAR,5704958,1935207
9,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,12:00:00,REGULAR,5704958,1935302
10,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,16:00:00,REGULAR,5704971,1935412
11,A002,R051,02-00-00,59 ST,NQR456,BMT,06/19/2016,20:00:00,REGULAR,5705201,1935466
12,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,00:00:00,REGULAR,5705337,1935508
13,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,04:00:00,REGULAR,5705342,1935512
14,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,08:00:00,REGULAR,5705373,1935608
15,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,12:00:00,REGULAR,5705528,1935882
16,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,16:00:00,REGULAR,5705812,1935945
17,A002,R051,02-00-00,59 ST,NQR456,BMT,06/20/2016,20:00:00,REGULAR,5706615,1936036
18,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,00:00:00,REGULAR,5706844,1936061
19,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,04:00:00,REGULAR,5706861,1936066
20,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,08:00:00,REGULAR,5706906,1936181
21,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,12:00:00,REGULAR,5707090,1936447
22,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,16:00:00,REGULAR,5707410,1936528
23,A002,R051,02-00-00,59 ST,NQR456,BMT,06/21/2016,20:00:00,REGULAR,5708294,1936616
24,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,00:00:00,REGULAR,5708543,1936656
25,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,04:00:00,REGULAR,5708562,1936667
26,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,08:00:00,REGULAR,5708592,1936769
27,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,12:00:00,REGULAR,5708773,1937054
28,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,16:00:00,REGULAR,5709110,1937129
29,A002,R051,02-00-00,59 ST,NQR456,BMT,06/22/2016,20:00:00,REGULAR,5709992,1937199

# Challenge 2

In [3]:
df2 = df[['C/A','UNIT','SCP','STATION','DATE','TIME','ENTRIES']]
df2.head(n=10)

    C/A  UNIT       SCP STATION        DATE      TIME  ENTRIES
0  A002  R051  02-00-00   59 ST  06/18/2016  00:00:00  5704958
1  A002  R051  02-00-00   59 ST  06/18/2016  04:00:00  5704958
2  A002  R051  02-00-00   59 ST  06/18/2016  08:00:00  5704958
3  A002  R051  02-00-00   59 ST  06/18/2016  12:00:00  5704958
4  A002  R051  02-00-00   59 ST  06/18/2016  16:00:00  5704958
5  A002  R051  02-00-00   59 ST  06/18/2016  20:00:00  5704958
6  A002  R051  02-00-00   59 ST  06/19/2016  00:00:00  5704958
7  A002  R051  02-00-00   59 ST  06/19/2016  04:00:00  5704958
8  A002  R051  02-00-00   59 ST  06/19/2016  08:00:00  5704958
9  A002  R051  02-00-00   59 ST  06/19/2016  12:00:00  5704958

# Challenge 3

In [21]:
def range(group):
    entryCount = group.max()-group.min()
    return entryCount
df3 = df2.groupby(['C/A','UNIT','SCP','STATION','DATE'])['ENTRIES'].apply(range)
df3 = pd.DataFrame(df3)
df3.head(n=20)

                                       ENTRIES
C/A  UNIT SCP      STATION DATE
A002 R051 02-00-00 59 ST   06/18/2016        0
                           06/19/2016      243
                           06/20/2016     1278
                           06/21/2016     1450
                           06/22/2016     1449
                           06/23/2016     1382
                           06/24/2016     1178
          02-00-01 59 ST   06/18/2016     1192
                           06/19/2016      622
                           06/20/2016     1228
                           06/21/2016     1273
                           06/22/2016     1264
                           06/23/2016     1234
                           06/24/2016     1178
          02-03-00 59 ST   06/18/2016      389
                           06/19/2016      262
                           06/20/2016      510
                           06/21/2016      576
                           06/22/2016      531
                           06/23/2016      524

# Challenge 4

In [ ]:
ggplot(aes(x='DATE',y='ENTRIES'),data=df3)+geom_line()

# Challenge 5

In [20]:
df4 = df3.groupby(['C/A','UNIT','STATION','DATE','TIME'])['ENTRIES']
df4.head(n=20)

KeyError: 'C/A'