## Predicting affairs

This dataset was derived from a survey of women in 1974 by Redbook magazine, in which married women were asked about their participation in extramarital affairs.

## The dataset contains 6366 observations of 9 variables:
* rate_marriage: woman's rating of her marriage (1 = very poor, 5 = very good)
* age: woman's age
* yrs_married: number of years married
* children: number of children
* religious: woman's rating of how religious she is (1 = not religious, 4 = strongly religious)
* educ: level of education (9 = grade school, 12 = high school, 14 = some college, 16 = college graduate, 17 = some * graduate school, 20 = advanced degree)
* occupation: woman's occupation (1 = student, 2 = farming/semi-skilled/unskilled, 3 = "white collar", 4 = * teacher/nurse/writer/technician/skilled, 5 = managerial/business, 6 = professional with advanced degree)
* occupation_husb: husband's occupation (same coding as above)
* affairs: time spent in extra-marital affairs

## Problem

In this problem we will be creating a categorical variable out of continous data and determine the likelihood a women will have an affair given our data.

## Data Load

This dataset is already in Statsmodels. Let's load it in and create an affairs column where 1 represents had an affair and 0 represents not

In [1]:
import statsmodels.api as sm
dta = sm.datasets.fair.load_pandas().data
dta.head()

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

In [2]:
# add "affair" column: 1 represents having affairs, 0 represents not
dta['affair'] = (dta.affairs > 0).astype(int)

## Exploration

Do some basic data exploration

## Data Visualization
Do some data visualization on the dataset

## Model build and evaluation

Now let's build a model.
* First split into a train and test set
* Second build a  model using only the training set and evaluate on the test set.
* Try at minimum two different classifiers
* The goal is to maximize the AUC

In [3]:
from sklearn.metrics import roc_auc_score
from sklearn.cross_validation import train_test_split

In [6]:
y = dta["affair"]
X = dta.loc[:,"rate_marriage":"occupation_husb"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)