<center>
<font size=5px><b>
Challenge Set 7
</font>
</center>

| Topic:    | SQL |
| :-------- | --------------------: |
| Student:  | Max Farago            |
| Date Due: | 08/01/2016            |

### Challenge 0 - Practice Example
__What customers are from Sweden?__

SELECT * FROM Customers WHERE Country='Sweden';

Berglunds snabbköp	Christina Berglund	
Folk och fä HB	Maria Larsson

### Challenge 1
__What customers are from the UK?__

SELECT * FROM Customers WHERE Country='UK'

Around the Horn	Thomas Hardy<br>
B's Beverages	Victoria Ashworth<br>
Consolidated Holdings	Elizabeth Brown<br>
Eastern Connection	Ann Devon<br>
Island Trading	Helen Bennett<br>
North/South	Simon Crowther<br>
Seven Seas Imports	Hari Kumar

### Challenge 2
__What is the name of the customer who has the most orders?__

SELECT CustomerID, Count(CustomerID) AS Count
FROM Orders
GROUP BY CustomerID
ORDER BY Count DESC
LIMIT 1

|CustomerID|Count|
|-|-|
|20|10

### Challenge 3
__What supplier has the highest average product price?__

SELECT SupplierName
FROM Products
JOIN Suppliers
ON Suppliers.SupplierID = Products.SupplierID
GROUP BY Products.SupplierID
ORDER BY AVG(Price) DESC

|SupplierName|
|-|
|Aux joyeux ecclésiastiques|

### Challenge 4
__How many different countries are their customers from?__

SELECT COUNT(DISTINCT Country) FROM Customers

|COUNT(DISTINCT Country)|
|-|
|21|

### Challenge 5
__What category appears the most in order details?__

SELECT CategoryName, COUNT(CategoryName) as Count
FROM [OrderDetails]
JOIN Products
ON Products.ProductID = OrderDetails.ProductID
JOIN Categories
ON Categories.CategoryID = Products.CategoryID
GROUP BY CategoryName
ORDER BY Count DESC
LIMIT 1

|CategoryName|Count|
|-|-|
|Dairy Products|100|

### Challenge 6
__What was the total cost for each order?__

SELECT OrderID, SUM(Price) as Price
FROM [OrderDetails]
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
GROUP BY OrderID

|OrderID|	Price|
|-|-|
|10248|	69.8|
|10249|	76.25|
|10250|	83.7|
|...|...|

### Challenge 7
__What employee made the most sales (by total cost)?__

SELECT FirstName, LastName, SUM(Price) as Sales
FROM [OrderDetails]
JOIN Products
ON OrderDetails.ProductID = Products.ProductID
JOIN Orders
ON OrderDetails.OrderID = Orders.OrderID
JOIN Employees
ON Orders.EmployeeID = Employees.EmployeeID
GROUP BY Orders.EmployeeID
ORDER BY SUM(Price) DESC
LIMIT 1

|FirstName|	LastName|	Sales|
|-|-|
|Margaret	|Peacock|	3887.22|

### Challenge 8
__What employees have BS degrees?__

SELECT *
FROM Employees
WHERE Notes LIKE '%BS Degree%'

|FirstName|LastName|
|-|-|
|Janet|Leverling|

### Challenge 9
__What supplier of three or more products has the highest average product price?__

SELECT SupplierName
FROM [Products]
JOIN Suppliers
ON Products.SupplierID = Suppliers.SupplierID
GROUP BY Products.SupplierID
HAVING Count(ProductID) > 2
ORDER BY AVG(Price) DESC
LIMIT 1

|SupplierName|
|-|
|Tokyo Traders|